<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>
      Mensagem enviada por <%= @sender %>
      <small>através do sistema de mensagens do zordanimoveis.com.br</small>
    </h1>
    <h2>
      Imóvel em questão: <%= link_to @property.title, @property %>
    </h2>
    <h2>
      Mensagem
    </h2>
    <p>
      <%= @message %>
    </p>
  </body>
</html>
