<div class="row">
    <div class="col-10 property-card">
        <div class="row">
            <div class="property-image" style="background-image:url('http://s2.glbimg.com/LcMtebaSrDUHnQinU5TreJXcUCs=/620x465/s.glbimg.com/jo/g1/f/original/2016/08/23/apartamento.jpg')">
            </div>
            <div class="col-8 property-details">
                <div class="row mb-4">
                    <div class="col-6">
                        <h4>Edifício de apresentação</h4>
                    </div>
                    <div class="col-6 text-right">
                        <h4>R$ 325.000,00</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <span class="text-secondary">Cidade</span> Passo Fundo <br>
                        <span class="text-secondary">Bairro</span> Centro <br>
                        <span class="text-secondary">Endereço</span> Rua Fagundes dos Reis, 622 <br>
                    </div>
                    <div class="col-6 text-right">
                        1 dormitório <br>
                        1 vaga de estacionamento <br>
                        77.50 m² <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
