<div class="alert alert-danger">
  <i class="fa fa-exclamation-circle mr-1" aria-hidden="true"></i>
  <%= msg %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
