<div class="dropdown-menu p-0">
  <div class="row m-0 p-3">
    <div class="col-12 col-sm-9">
      <div class="row">
        <div class="col-md-3 mb-3">
          <h2>Apartamentos</h2>
          <ul class="list-unstyled">
            <li>
              Kitinete
            </li>
            <li>
              Apartamento 1 Dorm.
            </li>
            <li>
              Apartamento 2 Dorm.
            </li>
            <li>
              Apartamento 3 Dorm.
            </li>
            <li>
              Apartamento 4 Dorm. ou +
            </li>
            <li>
              Cobertura
            </li>
            <li>
              Box de garagem
            </li>
          </ul>
        </div>
        <div class="col-md-3 mb-3">
          <h2>Casas</h2>
          <ul class="list-unstyled">
            <li>
              Casa 1 Dorm.
            </li>
            <li>
              Casa 2 Dorm.
            </li>
            <li>
              Casa 3 Dorm.
            </li>
            <li>
              Casa 4 Dorm. ou +
            </li>
            <li>
              Casa em Condomínio
            </li>
          </ul>
        </div>
        <div class="col-md-3 mb-3">
          <h2>Comercial</h2>
          <ul class="list-unstyled">
            <li>
              Salas aéreas
            </li>
            <li>
              Salas térreas
            </li>
            <li>
              Prédio/Casa
            </li>
            <li>
              Negócios Diversos
            </li>
            <li>
              Pavilhões
            </li>
          </ul>
        </div>
        <div class="col-md-3 mb-3">
          <h2>Terrenos</h2>
          <ul class="list-unstyled">
            <li>
              Áreas Rurais
            </li>
            <li>
              Chácaras/Sítios
            </li>
            <li>
              Terrenos Residenciais
            </li>
            <li>
              Terrenos comerciais
            </li>
            <li>
              Terrenos em Condomínio
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
