<footer id="footer" class="bg-dark text-white mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <small>
          Corretor de imóveis ® Todos os direitos reservados - 2017
        </small>
      </div>
    </div>
  </div>
</footer>
