<footer id="footer" class="bg-dark text-white mt-5">
  <div class="container">
    <div class="row no-gutters justify-content-center">

      <div class="col-lg-6 mb-3">
        <h2>Índices <i class="fa fa-line-chart" aria-hidden="true"></i></h2>
        <div v-if="stats.length > 0" class="row">
          <div class="col-lg-auto" v-for="stat in stats">
            <small>{{stat.month}}</small>
            <h2 class="mb-0">{{stat.value}}</h2>
            <strong>{{stat.name}}</strong>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <h2>
          Entre em contato <i class="fa fa-comments-o"></i>
        </h2>
        <ul class="list-unstyled">
          <li>
            <a href="mailto:bruno@zordanimoveis.com.br">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              bruno@zordanimoveis.com.br
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/zordancorretor/">
              <i class="fa fa-facebook-official" aria-hidden="true"></i>
              /zordancorretor
            </a>
          </li>
          <li>
            <a href="tel:54999999999">
              <i class="fa fa-whatsapp" aria-hidden="true"></i>
              (54) 9.9999-9999
            </a>
          </li>
        </ul>

      </div>
    </div>

    <div class="row">
      <div class="col-12 text-center">
        <small>
          Corretor de imóveis ® Todos os direitos reservados - 2017
        </small>
      </div>
    </div>
  </div>
</footer>
