<div class="row no-gutters mb-2">
  <div class="col-12 card">
    <div class="row no-gutters p-2">
      <div class="col-8">
        <% if action == "create" %>
          <h1 class="mb-0">
            Novo <%= I18n.t "views.#{property.type}.one" %>
          </h1>
        <% else %>
          <h1 class="mb-0">
            Atualizar Apartamento
            <small>
              <%= link_to property.title, property %>
            </small>
          </h1>
        <% end %>
      </div>
      <div class="col-4 align-self-center text-right">
        <%= link_to("Voltar", root_path) %>
      </div>
    </div>
  </div>
</div>
