<h2>Extras</h2>
<div class="form-row">
  <div class="form-group col-12">
    <div class="input-group">
      <input type="text" class="form-control"
      placeholder="Adicionar uma característica extra...">
      <span class="input-group-btn">
        <button class="btn btn-primary"
        :disabled="loading" type="button">
          <i class="fa fa-plus-circle"></i>
        </button>
      </span>
    </div>
  </div>
</div>
