<div class="row justify-content-center">
  <div class="col-md-10 col">
    <div class="row no-gutters">

      <div class="col-sm-3 card shadow p-3">
        <h1>Imóveis</h1>
        <ul class="list-unstyled">
          <li>
            <%= link_to "Novo Apartamento", new_property_path %>
          </li>
          <li>
            <%= link_to "Nova Casa", new_property_path %>
          </li>
          <li>
            <%= link_to "Novo Comercial", new_property_path %>
          </li>
          <li>
            <%= link_to "Novo Terreno", new_property_path %>
          </li>
        </ul>
      </div>

      <div class="col-md-9 p-3 card">
        aaa
      </div>

    </div>
  </div>
</div>
