<div class="row">
  <div class="col-12 card p-2">
    <h1 class="mb-0 text-center">
      Imóveis em destaque
    </h1>
  </div>
  <% if @properties.length > 0 %>
    <% @properties.each do |property| %>
      <div class="col-md-4 card p-0 mt-2 property-featured">
        <%= link_to property do %>
          <% if property.gallery.images %>
            <div class="property-image" style="background-image:url(<%= property.gallery.images.first.large %>)"></div>
          <% else %>
            <div class="property-image" style="background-image:url('assets/no-image.jpg')"></div>
          <% end %>
        <% end  %>
        <div class="p-3">
          <h2><%= property.title %></h2>
          <%= render "partials/general_property_information", property: property %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p class="p-1">Nenhum imóvel em destaque</p>
  <% end %>

  <div class="col-12 card p-2 mt-3">
    <h1 class="mb-0 text-center">
      Empreendimentos em destaque
    </h1>
  </div>
  <p class="p-1">Nenhum empreendimento em destaque</p>
</div>
