<div class="row">

  <%= render "partials/alert", flash: flash %>

  <div class="col-12">

    <div class="card">
      <div class="card-header">
        <h1 class="text-center">
          Imóveis em destaque
        </h1>
      </div>
    </div>

    <% if @featured_properties.length > 0 %>
      <div class="row mt-2 justify-content-center">
        <% @featured_properties.each do |property| %>
          <div class="col-md-4">
            <%= render "partials/property_featured", property: property %>
          </div>
        <% end %>
      </div>
    <% else %>
      <p class="p-1 text-center">Nenhum imóvel em destaque</p>
    <% end %>

    <div class="card mt-4">
      <div class="card-header">
        <h1 class="text-center">
          Empreendimentos em destaque
        </h1>
      </div>
    </div>

    <% if @featured_enterprises.length > 0 %>
      <div class="row mt-2 justify-content-center">
        <% @featured_enterprises.each do |enterprise| %>
          <div class="col-md-4">
            <%= render "partials/property_featured", property: enterprise %>
          </div>
        <% end %>
      </div>
    <% else %>
      <p class="p-1 text-center">Nenhum empreendimento em destaque</p>
    <% end %>

  </div>
</div>
