<div class="row justify-content-center">
  <div class="col-lg-10">

    <div class="card mb-2">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-6">
            <h2 class="mb-0">
              <%= @breadcrumbs %>
            </h2>
          </div>
          <div class="col-sm-6 text-right">
            <h2 class="mb-0">
              <%= pluralize @properties.total_count, "imóvel encontrado", "imóveis encontrados" %>
            </h2>
          </div>
        </div>
      </div>
    </div>

    <% if @properties.length > 0 %>
      <% @properties.each do |property| %>
        <%= render "partials/property_summary", property: property %>
      <% end %>
    <% end %>

  </div>
</div>

<div class="row justify-content-center">
  <div class="col-auto">
    <%= paginate @properties %>
  </div>
</div>
