<div class="row justify-content-center">
  <div class="col-md-10 col">

    <div class="row no-gutters">

      <div class="col-12 card mb-2">
        <div class="row no-gutters p-2">
          <div class="col-8">
            <h1 class="mb-0">Nova Casa</h1>
          </div>
          <div class="col-4 align-self-center text-right">
            <%= link_to("Voltar", root_path) %>
          </div>
        </div>
      </div>

      <div class="col-12 card p-3">
        <form class="form-row">
          <div class="form-group col-sm-12">
            <label>Endereço</label>
            <input type="text" class="form-control">
          </div>

          <div class="form-group col-sm-6">
            <label>Bairro</label>
            <input type="text" class="form-control">
          </div>

          <div class="form-group col-sm-6">
            <label class="col-form-label">Cidade</label>
            <select class="form-control">
              <option></option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>

          <div class="form-group col-sm-6">
            <label>Valor</label>
            <input type="number" class="form-control">
          </div>

          <div class="form-group col-12 text-right">
            <button type="submit" class="btn btn-primary">Criar</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
