@import "variables";

#footer{
  color: $lightgrey;
  background-color: $darkgrey;
  flex: 1;
  width: 100%;

  a{
    color: $lightgrey;
    text-decoration: none;
    
    &:hover{
      color: white;
    }
    &:active{
      color: white;
    }
  }

  .disclaimer{
    border-top: .6px black solid;
  }
}
