@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "variables";

// @font-face {
//   font-family: 'Droid Sans';
//   font-style: normal;
//   font-weight: 400;
//   src: url('DroidSans.ttf') format('truetype');
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
// }

*{
  // font-family: "Quicksand", sans-serif;
}

a:hover{
  text-decoration: none;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #f7f7f7;
}

.card-header{
  background-color: $lightgrey;

  h1{
    font-weight: bold;
    margin: 0;
  }
  h2{
    font-weight: bold;
    margin: 0;
  }
}

#main-container{
  min-height: 300px;
  padding-bottom: 90px;
  padding-top: 30px;
}

.btn-twitter {
  color: #fff;
  background-color: #4099FF;
  border-color: #4099FF;
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
}

.btn-google {
  color: #fff;
  background-color: #d34836;
  border-color: #d34836;
}

.line-sm{
  line-height: 100%;
}

.pointer {
  cursor: pointer;
}

dl{
  dt {
    text-align: left;
    font-weight: normal;
  }

  dd {
    margin-bottom: 0;
  }
}

.lg-sub-html{
  display: none;
}
