@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$blue: skyblue;
$stronggrey: lightgrey;
$mediumgrey: #c1c1c1;
$lightgrey: gainsboro;

html, body {
  background: $lightgrey;
}

h1 {
  font-size: 20px;
  font-weight: 600;
  word-wrap: break-word;
}

h2 {
  font-size: 18px;
  font-weight: 600;
  word-wrap: break-word;
}

h3 {
  font-size: 16px;
  font-weight: 600;
  word-wrap: break-word;
}

h4 {
  font-size: 14px;
  font-weight: 600;
  word-wrap: break-word;
}

h5 {
  font-size: 12px;
  font-weight: 600;
  word-wrap: break-word;
}

.navbar{
  padding: 1rem 1rem;
}

.container{
  padding-top: 100px;
  // background: white;
}

.card{
  &.shadow{
    box-shadow: 0px 0px 15px 1px  $mediumgrey;
  }
}

.property-summary{
  text-decoration: none;
  border: 3px solid transparent;
  transition: border .5s;

  &:hover{
    border: 3px solid $blue;
  }
}

#property-gallery{
  a{
    img{
      max-width: 100%;
    }
  }

  ul{
    li{
      cursor: pointer;

      img{
        width: 100px;
        height: 100px;
      }
    }
  }
}

.property-image{
  background-repeat: no-repeat;
  background-position: center;
}

.dropdown {
  position: static;

  .dropdown-menu {
    border-radius: 0;
    margin-top: 0px;
    width: 100%;
  }
}
