#property-gallery{
  a{
    img{
      max-width: 100%;
    }
  }

  ul{
    li{
      cursor: pointer;

      img{
        width: 100px;
        height: 100px;
      }
    }
  }
}

.property-image{
  background-repeat: no-repeat;
  background-position: center;
}
