#property-gallery{
  a.gallery-image{
    div{
      height: 400px;
      max-width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  ul{
    li{
      cursor: pointer;

      div{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 90px;
        height: 90px;
      }
    }
  }
}
