#property-gallery{
  a.gallery-image{
    div{
      max-height: 420px;
      min-height: 310px;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  ul{
    li{
      cursor: pointer;

      div{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100px;
        height: 100px;
      }
    }
  }
}

.map {
  border-radius: 0.25rem;
  width: 100%;
  max-height: 250px;
}
