@import "variables";

.property-featured{
  .property-image{
    height: 350px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover{
    border: 1px solid red;
  }
}

.property-summary{
  a{
    .property-image{
      min-height: 200px;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &:hover{
    border: 1px solid red;
  }
}
