
h1 {
  font-size: 20px;
  word-wrap: break-word;
}

h2 {
  font-size: 18px;
  word-wrap: break-word;
}

h3 {
  font-size: 16px;
  word-wrap: break-word;
}

h4 {
  font-size: 14px;
  word-wrap: break-word;
}

h5 {
  font-size: 12px;
  word-wrap: break-word;
}
